<a href="https://colab.research.google.com/github/mayait/ClaseAnalisisDatos/blob/main/pandas/Python_OOP_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title Nombre del estudiante
Estudiante = "" #@param {type:"string"}

# Programaci√≥n orientada a objetos en Python

#### Clases / Objetos
En la verdadera programaci√≥n orientada a objetos (OOP), el desarrollador escribe c√≥digo en torno a cosas llamadas objetos. Un objeto (o una clase) agrupa datos y funciones que operan sobre esos datos. Es posible que conozca esta terminolog√≠a de *C++* y otros lenguajes.

#### M√≥dulos
Los m√≥dulos en Python contienen grandes cantidades de c√≥digo que se encuentran relacionados. En la mayor√≠a de los casos, poseen varias clases y funciones que abordan una necesidad particular.

#### Librer√≠as / Bibliotecas
Las librer√≠as pueden contener m√∫ltiples m√≥dulos que van juntos. Las librer√≠as generalmente tiene una estructura de directorio espec√≠fica.

<img src="https://i0.wp.com/bhivetech.blog/wp-content/uploads/2020/04/classes.png" width="80%"/>

# Clase Coche en Python

La clase `Coche` en Python puede ser utilizada para crear objetos que representan coches en el mundo real. La clase incluir√° atributos como `color`, `tama√±o`, `motor`, `precio`, y `modelo`, y comportamientos, que son m√©todos, como `conducir`, `estacionar`, `arrancar`, y `detener`.

```python
class Coche:
    def __init__(self, color, tamano, motor, precio, modelo):
        self.color = color
        self.tamano = tamano
        self.motor = motor
        self.precio = precio
        self.modelo = modelo
    
    def conducir(self):
        return "El coche est√° en movimiento."
    
    def estacionar(self):
        return "El coche est√° estacionado."
    
    def arrancar(self):
        return "El coche ha arrancado."
    
    def detener(self):
        return "El coche se ha detenido."

```
### Creaci√≥n de objetos

```python
coche_azul = Coche("azul", "212 pulgadas", "3.6L V6", "50,000 USD", "AL3")
coche_rojo = Coche("rojo", "143 pulgadas", "1.4L 4-cyl", "12,000 USD", "HA2")

print(coche_azul.conducir())
print(coche_rojo.estacionar())
```

## ¬øQu√© es una Clase?
Una clase en Python act√∫a como un plano para crear objetos. Define un conjunto de atributos y m√©todos que los objetos creados a partir de la clase pueden utilizar.

In [1]:
class MiClase:
    """Esta es una clase simple de ejemplo."""
    atributo = "un valor"

    def metodo(self):
        return "Este es un m√©todo de la clase"

## Creando Objetos
Los objetos son instancias de una clase. Al crear un objeto, este hereda todos los atributos y m√©todos definidos en la clase.

In [2]:
mi_objeto = MiClase()
print( mi_objeto.atributo )  # Salida: un valor
print( mi_objeto.metodo() )  # Salida: Este es un m√©todo de la clase

un valor
Este es un m√©todo de la clase

## Constructor __init__
El m√©todo __init__ se ejecuta autom√°ticamente al crear un nuevo objeto de una clase, y se utiliza para inicializar los atributos del objeto.

__self__ es un argumento que se utiliza en los m√©todos de una clase para referirse al objeto actual. Es una convenci√≥n para nombrar la referencia al objeto que est√° siendo creado o manipulado.

In [7]:
class Auto:
    def __init__(self, marca, modelo):
        self.marca = marca
        self.modelo = modelo

    def mostrar_descripcion(self):
        return f"Este auto es un {self.marca} {self.modelo}."

In [5]:
mi_carro = Auto("Toyota", "Corolla")
print(mi_carro.mostrar_descripcion())  # Salida: Este coche es un Toyota Corolla.

Este auto es un Toyota Corolla.

# üå∂Ô∏è Crea un sistema bancario


1. Crear una clase `CuentaBancaria` que tenga un diccionario para los atributos de la cuenta como `titular`, `balance` y `n√∫mero de cuenta`.
2. Permitir depositar (`depositar`) y retirar dinero (`retirar`) de la cuenta a trav√©s de m√©todos que modifiquen los valores en el diccionario.
3. Incluir un m√©todo para mostrar el balance actual (`mostrar_balance`), que lee del diccionario de la cuenta.
4. Crear una clase `Banco` que contenga una lista de diccionarios de cuentas bancarias.
5. Agregar m√©todos al `Banco` para buscar una cuenta por titular y n√∫mero de cuenta dentro de la lista de cuentas.
6. Implementar un sistema de transferencia de fondos entre cuentas utilizando los n√∫meros de cuenta y actualizando los balances en los diccionarios correspondientes.

**Requisitos:**

- Implementa validaciones usando condicionales para todas las operaciones bancarias para garantizar la integridad de las transacciones.
- Crea un men√∫ interactivo que utilice una lista de opciones posibles y un bucle para permitir al usuario realizar diferentes operaciones bancarias.

Este ejercicio te ayudar√° a practicar el uso de diccionarios para almacenar informaci√≥n estructurada y listas para manejar colecciones de estos diccionarios, todo esto mientras mantienes la orientaci√≥n a objetos en tu dise√±o de software.

In [ ]:
class CuentaBancaria:
    def __init__(self, titular, balance, numero_cuenta):
        # TODO: Almacenar los par√°metros como un diccionario en self.detalle_cuenta

    def depositar(self, monto):
        # TODO: Implementar la l√≥gica para depositar un monto en la cuenta, pilas con los depositos negativos
        pass

    def retirar(self, monto):
        # TODO: Implementar la l√≥gica para retirar un monto de la cuenta
        pass

    def mostrar_balance(self):
        # TODO: Implementar la l√≥gica para mostrar el balance de la cuenta
        pass

class Banco:
    def __init__(self):
        # TODO: Inicializar una lista para almacenar las cuentas

    def agregar_cuenta(self, cuenta):
        # TODO: Implementar la l√≥gica para agregar una nueva cuenta al banco
        pass

    def buscar_cuenta(self, numero_cuenta):
        # TODO: Implementar la l√≥gica para buscar y retornar una cuenta por su n√∫mero
        pass

    def transferir_fondos(self, num_cuenta_origen, num_cuenta_destino, monto):
        # TODO: Implementar la l√≥gica para transferir fondos entre cuentas
        pass

# **Introducci√≥n a Pandas**


# Librer√≠as para Analitica de Datos

En esta lecci√≥n se trabajar√° con las principales librer√≠as enfocadas en Ciencia de Datos

## Contenido

* Series y Dataframes con Pandas
* Manipulaci√≥n de DataFrames con Pandas

## Programaci√≥n orientada a objetos en Python

<img src="https://i0.wp.com/bhivetech.blog/wp-content/uploads/2020/04/classes.png" width="80%"/>


#### Clases / Objetos
En la verdadera programaci√≥n orientada a objetos (OOP), el desarrollador escribe c√≥digo en torno a cosas llamadas objetos. Un objeto (o una clase) agrupa datos y funciones que operan sobre esos datos. Es posible que conozca esta terminolog√≠a de *C++* y otros lenguajes.

#### M√≥dulos
Los m√≥dulos en Python contienen grandes cantidades de c√≥digo que se encuentran relacionados. En la mayor√≠a de los casos, poseen varias clases y funciones que abordan una necesidad particular.

#### Librer√≠as / Bibliotecas
Las librer√≠as pueden contener m√∫ltiples m√≥dulos que van juntos. Las librer√≠as generalmente tiene una estructura de directorio espec√≠fica.

### Importar M√≥dulos
Todo notebook deber√≠a empezar con una secci√≥n de c√≥digo que importe los **m√≥dulos** que se emplear√°n.

A continuaci√≥n importaremos el m√≥dulo **numpy** y **pandas**. Estas son librer√≠as com√∫nmente empleadas en el √°rea de la Ciencia de Datos.

De manera general, utilizaremos la estructura `import MODULE_NAME as MODULE_NICKNAME` para importar cualquier m√≥dulo que la programaci√≥n requiera.

`statsmodels`: utilizado en aprendizaje autom√°tico; generalmente lo abreviamos como `sm`
`seaborn`: una biblioteca de visualizaci√≥n; generalmente alias como `sns`

Tenga en cuenta que cada m√≥dulo tiene un alias est√°ndar, que le permite acceder a las herramientas dentro del m√≥dulo sin escribir tantos caracteres. Por ejemplo, el alias nos permite acortar `seaborn.scatterplot()` a `sns.scatterplot()`

In [ ]:
import numpy as np
import pandas as pd

# Series y Dataframes con Pandas

Nos gustar√≠a una estructura de datos que pueda almacenar f√°cilmente variables de diferentes tipos, que almacene nombres de columnas, y en la que podamos hacer referencia por nombre de columna as√≠ como por posici√≥n indexada. Y ser√≠a bueno si esta estructura de datos viniera con funciones integradas que podamos usar para manipularla.

`Pandas` es una librer√≠a que hace todo esto! La librer√≠a est√° construida sobre `numpy`.

Existen dos objetos `pandas` b√°sicos, *series* y *dataframes*, que se pueden considerar como versiones mejoradas de arreglos 1D y 2D `numpy`, respectivamente.

Para referencia `pandas` [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) y `pandas` [documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/).

**Importancia de Pandas**
*    Lectura y escritura de datos
*    Modificaci√≥n de √≠ndices y etiquetas de las columnas
*    Trabajo con fechas
*    Ordenamiento, agrupaci√≥n y tratamiento de valores faltantes (curaci√≥n de datos)
    
Para importar este m√≥dulo utilizamos el comando: ```import pandas as pd```

### 2.1 Pandas - Series

Una Serie es una colecci√≥n de observaciones de una variable individual. <br>

Se puede pensar en una Serie como los datos en un arreglo de 1D.

En la serie ``items``, cada uno de los √≠ndices del 0 al 4 son los identificadores de 5 productos diferentes y los valores float representan el precio unitario correspondiente a cada uno.

In [ ]:
# Usamos el constructor pd.Series
items = pd.Series(name = 'precios', data = [2, 3, 8, 6, 7], index = ['Mora','Frutilla','Mango','Platano','Sandia'])
print(items)

**Importante**: las Series est√°n implementadas sobre arreglos NumPy. Esto les permite soportar operaciones v√°lidas con estos arreglos. En el ejemplo tenemos el caso de la multiplicaci√≥n de un arreglo de 1D por un escalar.

M√©todo √∫tiles de las Series de Pandas

In [ ]:
print('Obtener los √≠ndices:', items.index)
print('Obtener los valores:', items.values)
print('Obtener tipo de dato:', items.dtypes)

### 2.2 Pandas - DataFrames: creaci√≥n, propiedades y funciones

Un DataFrame de Pandas es un objeto que permite guardar datos en varias columnas que estan mutuamente relacionadas.

Podemos pensar un DataFrame como una hoja de datos de Excel altamente optimizada. Los DataFrames estan compuestos por filas y columnas.

Pandas posee m√∫ltiples funciones para cargar varios tipos de archivos: pd.read_csv, pd.read_excel, pd.read_json, pd.read_parquet, etc.


### Lectura de datos en un DataFrame

A continuaci√≥n, iniciaremos leyendo los datos del archivo en formato csv en un DataFrame. <br>

Este archivo contiene una muestra de datos de 'Penn World Table' con diferentes indicadores socioecon√≥micos de los pa√≠ses en diferentes a√±os.

<a href='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'>
  Link para descargar el dataset PWT</a>

**Diccionario de datos:**

**countrycode:** C√≥digo est√°ndar ISO 3166-1 alfa-3, proporciona c√≥digos para los nombres de pa√≠ses por medio de tres letras<br>
**country:** Nombre del pa√≠s <br>
**year:** A√±o <br>
**rgdpo:** Producto Interno Bruto Real calculado mediante la PPA (pariedad de poder adquisitivo) con a√±o base 2011 (en millones d√≥lares) <br>
**pop:** Poblaci√≥n (millones de personas) <br>
**emp:** Personas de 15 a√±os y m√°s que durante la semana trabajaron incluso solo durante una hora, o no estaban en el trabajo pero ten√≠an un trabajo o negocio del que estaban temporalmente ausentes (millones de personas) <br>
**avh:** Promedio de horas anuales trabajadas por personas que cumplan la condici√≥n de la variable emp <br>
**hc:** √çndice de capital humano por persona, que se relaciona con los a√±os promedio de escolaridad y el retorno a la educaci√≥n

In [ ]:
https://raw.githubusercontent.com/mayait/ClaseAnalisisDatos/main/pandas/data/PWT91.csv

**Cargar datos de archivos de datos externos a pandas:**
Puedes cargar datos a pandas desde excel o desde un csv

```python
df_csv = pd.read_csv('data.csv', sep = ',', decimal = '.')
df_excel = pandas.read_excel('records.xlsx', sheet_name='Employees')
```

In [ ]:
# Nomeclatura est√°ndar para el nombre de un Dataframe se abrevia con df
df = pd.read_csv(filepath_or_buffer = 'PWT91.csv', sep = ',', decimal = '.')

In [ ]:
# El m√©todo head permite observar las primeras 5 filas del dataframe
df.head(500)

**Fuente**: Feenstra, Robert C., Robert Inklaar and Marcel P. Timmer (2015), "The Next Generation of the Penn World Table" American Economic Review, 105(10), 3150-3182, available for download at www.ggdc.net/pwt

Lo que tenemos ahora es una hoja de c√°lculo con filas indexadas y columnas nombradas, llamada `df`. **Importante**: Las columnas son *series de pandas*.

In [ ]:
# Comprobamos las dimensiones del Dataframe (filas, columnas)
df.shape

In [ ]:
print(type(df))

La funci√≥n `pd.read_csv` infiere el tipo de datos por defecto

In [ ]:
# Comprobamos el tipo de las variables en el dataframe
print(df.dtypes)

Podemos cambiar el tipo de las columnas:
- Convertir la columna year para que sea tipo datetime, para una mayor informaci√≥n sobre los tipos de [formatos fecha](https://strftime.org/)
- Convertir la columna pop (poblaci√≥n)

In [ ]:
df['year'] = pd.to_datetime(df['year'], format = '%Y')
df['pop']  = df['pop'].fillna(0).astype(int)
df.dtypes



---


# Manipulaci√≥n de DataFrames con Pandas

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```iloc```
Cuando queremos seleccionar filas y columnas de acuerdo a la posici√≥n del √≠ndice, utilizamos el atributo:<br>
```iloc[indiceInicioFilas:indiceFinFilas-1 , indiceInicioCols:indiceFinCols-1]```

In [ ]:
#Seleccion de las filas por posici√≥n y las tres primeras columnas
df.iloc[2300:2303, :3]

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```loc```
Cuando queremos seleccionar filas y columnas de acuerdo a una mezcla del nombre de los √≠ndices y nombres de las columnas (etiquetas), utilizamos el atributo: ```loc[]```

In [ ]:
df_seleccion = df.loc[:, ['countrycode', 'year', 'pop', 'rgdpo']]
df_seleccion.head()

### Renombrar columnas en un DataFrame

1.   Elemento de la lista
2.   Elemento de la lista

In [ ]:
df_seleccion.rename(columns = {'countrycode': 'codigo_pais', 'pop': 'pob_millones', 'rgdpo': 'pib_real_millones'}, inplace = True)

>**Ejercicio 1:** Utilizando el m√©todo `rename` y la opci√≥n `inplace=False`, cambie el nombre de la columna `codigo_pais` por `codigo_iso` en el dataframe `df_seleccion`. Utilizando el m√©todo `columns` verifique si el cambio de nombre se grab√≥ de forma permanente en `df_seleccion`.

In [ ]:
#Su c√≥digo aqu√≠

### Filtrado del DataFrame

In [ ]:
# Condici√≥n booleana de una Serie de Pandas (indexado condicional)
df_seleccion['year'] > np.array('2016-01-01', dtype=np.datetime64)

In [ ]:
# Filtramos por filas a partir de una condici√≥n en la columna year (fechas mayores a 2015)
df_filtrado = df_seleccion.loc[df_seleccion['year'] > np.array('2015-01-01', dtype=np.datetime64)]
df_filtrado

>**Ejercicio 2:** Generar un nuevo dataframe llamado `df_mayor_pob` realizando un filtrado de las filas del dataframe `df_filtrado`, si la poblaci√≥n es mayor a 200 millones de habitantes.

In [ ]:
df.head()

### Creaci√≥n de nuevas columnas

In [ ]:
df_percapita = df_mayor_pob.copy()
df_percapita.loc[:, 'pib_percapita'] = df_percapita['pib_real_millones'] / df_percapita['pob_millones']
df_percapita

### Ordenamiento en el DataFrame

In [ ]:
df_percapita.sort_values(by='pib_percapita', ascending = False)

### Agregaci√≥n en DataFrames

#### Uso la funci√≥n groupby

Busca agrupar grandes cantidades de datos y aplicar operaciones de c√°lculo en estos grupos

In [ ]:
# Agregamos los datos mediante empleando el promedio
df_agrupado = df_percapita.groupby(by = 'codigo_iso').agg('mean')
df_agrupado

>**Ejercicio 3:** Generar un nuevo dataframe llamado `df_final` realizando un agrupamiento por el `codigo_pais` obteniendo los valores m√°ximos y m√≠nimos `['max', 'min']` del dataframe `df_percapita`

In [ ]:
#Su c√≥digo aqu√≠

## Identificar valores vacios

In [ ]:
import missingno as msno

msno.matrix(df)

# **Introducci√≥n a Pandas**


# Librer√≠as para Analitica de Datos

En esta lecci√≥n se trabajar√° con las principales librer√≠as enfocadas en Ciencia de Datos

## Contenido

* Series y Dataframes con Pandas
* Manipulaci√≥n de DataFrames con Pandas

## Programaci√≥n orientada a objetos en Python

<img src="https://i0.wp.com/bhivetech.blog/wp-content/uploads/2020/04/classes.png" width="80%"/>


#### Clases / Objetos
En la verdadera programaci√≥n orientada a objetos (OOP), el desarrollador escribe c√≥digo en torno a cosas llamadas objetos. Un objeto (o una clase) agrupa datos y funciones que operan sobre esos datos. Es posible que conozca esta terminolog√≠a de *C++* y otros lenguajes.

#### M√≥dulos
Los m√≥dulos en Python contienen grandes cantidades de c√≥digo que se encuentran relacionados. En la mayor√≠a de los casos, poseen varias clases y funciones que abordan una necesidad particular.

#### Librer√≠as / Bibliotecas
Las librer√≠as pueden contener m√∫ltiples m√≥dulos que van juntos. Las librer√≠as generalmente tiene una estructura de directorio espec√≠fica.

### Importar M√≥dulos
Todo notebook deber√≠a empezar con una secci√≥n de c√≥digo que importe los **m√≥dulos** que se emplear√°n.

A continuaci√≥n importaremos el m√≥dulo **numpy** y **pandas**. Estas son librer√≠as com√∫nmente empleadas en el √°rea de la Ciencia de Datos.

De manera general, utilizaremos la estructura `import MODULE_NAME as MODULE_NICKNAME` para importar cualquier m√≥dulo que la programaci√≥n requiera.

`statsmodels`: utilizado en aprendizaje autom√°tico; generalmente lo abreviamos como `sm`
`seaborn`: una biblioteca de visualizaci√≥n; generalmente alias como `sns`

Tenga en cuenta que cada m√≥dulo tiene un alias est√°ndar, que le permite acceder a las herramientas dentro del m√≥dulo sin escribir tantos caracteres. Por ejemplo, el alias nos permite acortar `seaborn.scatterplot()` a `sns.scatterplot()`

In [ ]:
import numpy as np
import pandas as pd

# Series y Dataframes con Pandas

Nos gustar√≠a una estructura de datos que pueda almacenar f√°cilmente variables de diferentes tipos, que almacene nombres de columnas, y en la que podamos hacer referencia por nombre de columna as√≠ como por posici√≥n indexada. Y ser√≠a bueno si esta estructura de datos viniera con funciones integradas que podamos usar para manipularla.

`Pandas` es una librer√≠a que hace todo esto! La librer√≠a est√° construida sobre `numpy`.

Existen dos objetos `pandas` b√°sicos, *series* y *dataframes*, que se pueden considerar como versiones mejoradas de arreglos 1D y 2D `numpy`, respectivamente.

Para referencia `pandas` [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) y `pandas` [documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/).

**Importancia de Pandas**
*    Lectura y escritura de datos
*    Modificaci√≥n de √≠ndices y etiquetas de las columnas
*    Trabajo con fechas
*    Ordenamiento, agrupaci√≥n y tratamiento de valores faltantes (curaci√≥n de datos)
    
Para importar este m√≥dulo utilizamos el comando: ```import pandas as pd```

### 2.1 Pandas - Series

Una Serie es una colecci√≥n de observaciones de una variable individual. <br>

Se puede pensar en una Serie como los datos en un arreglo de 1D.

En la serie ``items``, cada uno de los √≠ndices del 0 al 4 son los identificadores de 5 productos diferentes y los valores float representan el precio unitario correspondiente a cada uno.

In [ ]:
# Usamos el constructor pd.Series
items = pd.Series(name = 'precios', data = [2, 3, 8, 6, 7], index = ['Mora','Frutilla','Mango','Platano','Sandia'])
print(items)

**Importante**: las Series est√°n implementadas sobre arreglos NumPy. Esto les permite soportar operaciones v√°lidas con estos arreglos. En el ejemplo tenemos el caso de la multiplicaci√≥n de un arreglo de 1D por un escalar.

M√©todo √∫tiles de las Series de Pandas

In [ ]:
print('Obtener los √≠ndices:', items.index)
print('Obtener los valores:', items.values)
print('Obtener tipo de dato:', items.dtypes)

### 2.2 Pandas - DataFrames: creaci√≥n, propiedades y funciones

Un DataFrame de Pandas es un objeto que permite guardar datos en varias columnas que estan mutuamente relacionadas.

Podemos pensar un DataFrame como una hoja de datos de Excel altamente optimizada. Los DataFrames estan compuestos por filas y columnas.

Pandas posee m√∫ltiples funciones para cargar varios tipos de archivos: pd.read_csv, pd.read_excel, pd.read_json, pd.read_parquet, etc.


### Lectura de datos en un DataFrame

A continuaci√≥n, iniciaremos leyendo los datos del archivo en formato csv en un DataFrame. <br>

Este archivo contiene una muestra de datos de 'Penn World Table' con diferentes indicadores socioecon√≥micos de los pa√≠ses en diferentes a√±os.

<a href='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'>
  Link para descargar el dataset PWT</a>

**Diccionario de datos:**

**countrycode:** C√≥digo est√°ndar ISO 3166-1 alfa-3, proporciona c√≥digos para los nombres de pa√≠ses por medio de tres letras<br>
**country:** Nombre del pa√≠s <br>
**year:** A√±o <br>
**rgdpo:** Producto Interno Bruto Real calculado mediante la PPA (pariedad de poder adquisitivo) con a√±o base 2011 (en millones d√≥lares) <br>
**pop:** Poblaci√≥n (millones de personas) <br>
**emp:** Personas de 15 a√±os y m√°s que durante la semana trabajaron incluso solo durante una hora, o no estaban en el trabajo pero ten√≠an un trabajo o negocio del que estaban temporalmente ausentes (millones de personas) <br>
**avh:** Promedio de horas anuales trabajadas por personas que cumplan la condici√≥n de la variable emp <br>
**hc:** √çndice de capital humano por persona, que se relaciona con los a√±os promedio de escolaridad y el retorno a la educaci√≥n

In [ ]:
https://raw.githubusercontent.com/mayait/ClaseAnalisisDatos/main/pandas/data/PWT91.csv

**Cargar datos de archivos de datos externos a pandas:**
Puedes cargar datos a pandas desde excel o desde un csv

```python
df_csv = pd.read_csv('data.csv', sep = ',', decimal = '.')
df_excel = pandas.read_excel('records.xlsx', sheet_name='Employees')
```

In [ ]:
# Nomeclatura est√°ndar para el nombre de un Dataframe se abrevia con df
df = pd.read_csv(filepath_or_buffer = 'PWT91.csv', sep = ',', decimal = '.')

In [ ]:
# El m√©todo head permite observar las primeras 5 filas del dataframe
df.head(500)

**Fuente**: Feenstra, Robert C., Robert Inklaar and Marcel P. Timmer (2015), "The Next Generation of the Penn World Table" American Economic Review, 105(10), 3150-3182, available for download at www.ggdc.net/pwt

Lo que tenemos ahora es una hoja de c√°lculo con filas indexadas y columnas nombradas, llamada `df`. **Importante**: Las columnas son *series de pandas*.

In [ ]:
# Comprobamos las dimensiones del Dataframe (filas, columnas)
df.shape

In [ ]:
print(type(df))

La funci√≥n `pd.read_csv` infiere el tipo de datos por defecto

In [ ]:
# Comprobamos el tipo de las variables en el dataframe
print(df.dtypes)

Podemos cambiar el tipo de las columnas:
- Convertir la columna year para que sea tipo datetime, para una mayor informaci√≥n sobre los tipos de [formatos fecha](https://strftime.org/)
- Convertir la columna pop (poblaci√≥n)

In [ ]:
df['year'] = pd.to_datetime(df['year'], format = '%Y')
df['pop']  = df['pop'].fillna(0).astype(int)
df.dtypes



---


# Manipulaci√≥n de DataFrames con Pandas

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```iloc```
Cuando queremos seleccionar filas y columnas de acuerdo a la posici√≥n del √≠ndice, utilizamos el atributo:<br>
```iloc[indiceInicioFilas:indiceFinFilas-1 , indiceInicioCols:indiceFinCols-1]```

In [ ]:
#Seleccion de las filas por posici√≥n y las tres primeras columnas
df.iloc[2300:2303, :3]

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```loc```
Cuando queremos seleccionar filas y columnas de acuerdo a una mezcla del nombre de los √≠ndices y nombres de las columnas (etiquetas), utilizamos el atributo: ```loc[]```

In [ ]:
df_seleccion = df.loc[:, ['countrycode', 'year', 'pop', 'rgdpo']]
df_seleccion.head()

### Renombrar columnas en un DataFrame

1.   Elemento de la lista
2.   Elemento de la lista

In [ ]:
df_seleccion.rename(columns = {'countrycode': 'codigo_pais', 'pop': 'pob_millones', 'rgdpo': 'pib_real_millones'}, inplace = True)

>**Ejercicio 1:** Utilizando el m√©todo `rename` y la opci√≥n `inplace=False`, cambie el nombre de la columna `codigo_pais` por `codigo_iso` en el dataframe `df_seleccion`. Utilizando el m√©todo `columns` verifique si el cambio de nombre se grab√≥ de forma permanente en `df_seleccion`.

In [ ]:
#Su c√≥digo aqu√≠

### Filtrado del DataFrame

In [ ]:
# Condici√≥n booleana de una Serie de Pandas (indexado condicional)
df_seleccion['year'] > np.array('2016-01-01', dtype=np.datetime64)

In [ ]:
# Filtramos por filas a partir de una condici√≥n en la columna year (fechas mayores a 2015)
df_filtrado = df_seleccion.loc[df_seleccion['year'] > np.array('2015-01-01', dtype=np.datetime64)]
df_filtrado

>**Ejercicio 2:** Generar un nuevo dataframe llamado `df_mayor_pob` realizando un filtrado de las filas del dataframe `df_filtrado`, si la poblaci√≥n es mayor a 200 millones de habitantes.

In [ ]:
df.head()

### Creaci√≥n de nuevas columnas

In [ ]:
df_percapita = df_mayor_pob.copy()
df_percapita.loc[:, 'pib_percapita'] = df_percapita['pib_real_millones'] / df_percapita['pob_millones']
df_percapita

### Ordenamiento en el DataFrame

In [ ]:
df_percapita.sort_values(by='pib_percapita', ascending = False)

### Agregaci√≥n en DataFrames

#### Uso la funci√≥n groupby

Busca agrupar grandes cantidades de datos y aplicar operaciones de c√°lculo en estos grupos

In [ ]:
# Agregamos los datos mediante empleando el promedio
df_agrupado = df_percapita.groupby(by = 'codigo_iso').agg('mean')
df_agrupado

>**Ejercicio 3:** Generar un nuevo dataframe llamado `df_final` realizando un agrupamiento por el `codigo_pais` obteniendo los valores m√°ximos y m√≠nimos `['max', 'min']` del dataframe `df_percapita`

In [ ]:
#Su c√≥digo aqu√≠

## Identificar valores vacios

In [ ]:
import missingno as msno

msno.matrix(df)

In [ ]:
# Si tu sistema funciona deberia ejecutar esto
banco = Banco()
cuenta1 = CuentaBancaria('Juan Perez', 1000, '001')
cuenta2 = CuentaBancaria('Maria Lopez', 2000, '002')

banco.agregar_cuenta(cuenta1)
banco.agregar_cuenta(cuenta2)

cuenta1.depositar(500)
cuenta2.retirar(300)
banco.transferir_fondos('001', '002', 200)

print(cuenta1.mostrar_balance())
print(cuenta2.mostrar_balance())

In [ ]:
# Prueba de dep√≥sito negativo
cuenta_test = CuentaBancaria('Ana Soto', 500, '003')
cuenta_test.depositar(-100)  # Deber√≠a dar un mensaje de error

In [ ]:
# Prueba de retiro excesivo
cuenta_test.retirar(600)  # Deber√≠a dar un mensaje de error

In [ ]:
# Prueba de transferencia sin fondos suficientes
banco_test = Banco()
cuenta_test2 = CuentaBancaria('Roberto G√≥mez', 300, '004')
banco_test.agregar_cuenta(cuenta_test)
banco_test.agregar_cuenta(cuenta_test2)
print("\nPrueba de transferencia sin fondos suficientes:")
banco_test.transferir_fondos('003', '004', 1000)  # Deber√≠a dar un mensaje de error

In [ ]:
# Prueba de transferencia a una cuenta inexistente
print("\nPrueba de transferencia a una cuenta inexistente:")
banco_test.transferir_fondos('003', '999', 50)  # Deber√≠a dar un mensaje de error

In [ ]:

# Prueba de buscar una cuenta que no existe
print("\nPrueba de buscar una cuenta que no existe:")
resultado_busqueda = banco_test.buscar_cuenta('999')  # Deber√≠a retornar None o un mensaje
if resultado_busqueda:
    print("Cuenta encontrada.")
else:
    print("Cuenta no encontrada.")


# Librer√≠as para Analitica de Datos

En esta lecci√≥n se trabajar√° con las principales librer√≠as enfocadas en Ciencia de Datos

## Contenido

* Series y Dataframes con Pandas
* Manipulaci√≥n de DataFrames con Pandas

# **Introducci√≥n a Pandas**

### Importar M√≥dulos
Todo notebook deber√≠a empezar con una secci√≥n de c√≥digo que importe los **m√≥dulos** que se emplear√°n.

A continuaci√≥n importaremos el m√≥dulo **numpy** y **pandas**. Estas son librer√≠as com√∫nmente empleadas en el √°rea de la Ciencia de Datos.

De manera general, utilizaremos la estructura `import MODULE_NAME as MODULE_NICKNAME` para importar cualquier m√≥dulo que la programaci√≥n requiera.

`statsmodels`: utilizado en aprendizaje autom√°tico; generalmente lo abreviamos como `sm`
`seaborn`: una biblioteca de visualizaci√≥n; generalmente alias como `sns`

Tenga en cuenta que cada m√≥dulo tiene un alias est√°ndar, que le permite acceder a las herramientas dentro del m√≥dulo sin escribir tantos caracteres. Por ejemplo, el alias nos permite acortar `seaborn.scatterplot()` a `sns.scatterplot()`

In [ ]:
import numpy as np
import pandas as pd

# Series y Dataframes con Pandas

Nos gustar√≠a una estructura de datos que pueda almacenar f√°cilmente variables de diferentes tipos, que almacene nombres de columnas, y en la que podamos hacer referencia por nombre de columna as√≠ como por posici√≥n indexada. Y ser√≠a bueno si esta estructura de datos viniera con funciones integradas que podamos usar para manipularla.

`Pandas` es una librer√≠a que hace todo esto! La librer√≠a est√° construida sobre `numpy`.

Existen dos objetos `pandas` b√°sicos, *series* y *dataframes*, que se pueden considerar como versiones mejoradas de arreglos 1D y 2D `numpy`, respectivamente.

Para referencia `pandas` [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) y `pandas` [documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/).

**Importancia de Pandas**
*    Lectura y escritura de datos
*    Modificaci√≥n de √≠ndices y etiquetas de las columnas
*    Trabajo con fechas
*    Ordenamiento, agrupaci√≥n y tratamiento de valores faltantes (curaci√≥n de datos)
    
Para importar este m√≥dulo utilizamos el comando: ```import pandas as pd```

### 2.1 Pandas - Series

Una Serie es una colecci√≥n de observaciones de una variable individual. <br>

Se puede pensar en una Serie como los datos en un arreglo de 1D.

En la serie ``items``, cada uno de los √≠ndices del 0 al 4 son los identificadores de 5 productos diferentes y los valores float representan el precio unitario correspondiente a cada uno.

In [ ]:
# Usamos el constructor pd.Series
items = pd.Series(name = 'precios', data = [2, 3, 8, 6, 7], index = ['Mora','Frutilla','Mango','Platano','Sandia'])
print(items)

**Importante**: las Series est√°n implementadas sobre arreglos NumPy. Esto les permite soportar operaciones v√°lidas con estos arreglos. En el ejemplo tenemos el caso de la multiplicaci√≥n de un arreglo de 1D por un escalar.

M√©todo √∫tiles de las Series de Pandas

In [ ]:
print('Obtener los √≠ndices:', items.index)
print('Obtener los valores:', items.values)
print('Obtener tipo de dato:', items.dtypes)

### 2.2 Pandas - DataFrames: creaci√≥n, propiedades y funciones

Un DataFrame de Pandas es un objeto que permite guardar datos en varias columnas que estan mutuamente relacionadas.

Podemos pensar un DataFrame como una hoja de datos de Excel altamente optimizada. Los DataFrames estan compuestos por filas y columnas.

Pandas posee m√∫ltiples funciones para cargar varios tipos de archivos: pd.read_csv, pd.read_excel, pd.read_json, pd.read_parquet, etc.


### Lectura de datos en un DataFrame

A continuaci√≥n, iniciaremos leyendo los datos del archivo en formato csv en un DataFrame. <br>

Este archivo contiene una muestra de datos de 'Penn World Table' con diferentes indicadores socioecon√≥micos de los pa√≠ses en diferentes a√±os.

<a href='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'>
  Link para descargar el dataset PWT</a>

**Diccionario de datos:**

**countrycode:** C√≥digo est√°ndar ISO 3166-1 alfa-3, proporciona c√≥digos para los nombres de pa√≠ses por medio de tres letras<br>
**country:** Nombre del pa√≠s <br>
**year:** A√±o <br>
**rgdpo:** Producto Interno Bruto Real calculado mediante la PPA (pariedad de poder adquisitivo) con a√±o base 2011 (en millones d√≥lares) <br>
**pop:** Poblaci√≥n (millones de personas) <br>
**emp:** Personas de 15 a√±os y m√°s que durante la semana trabajaron incluso solo durante una hora, o no estaban en el trabajo pero ten√≠an un trabajo o negocio del que estaban temporalmente ausentes (millones de personas) <br>
**avh:** Promedio de horas anuales trabajadas por personas que cumplan la condici√≥n de la variable emp <br>
**hc:** √çndice de capital humano por persona, que se relaciona con los a√±os promedio de escolaridad y el retorno a la educaci√≥n

In [ ]:
https://raw.githubusercontent.com/mayait/ClaseAnalisisDatos/main/pandas/data/PWT91.csv

**Cargar datos de archivos de datos externos a pandas:**
Puedes cargar datos a pandas desde excel o desde un csv

```python
df_csv = pd.read_csv('data.csv', sep = ',', decimal = '.')
df_excel = pandas.read_excel('records.xlsx', sheet_name='Employees')
```

In [ ]:
# Nomeclatura est√°ndar para el nombre de un Dataframe se abrevia con df
df = pd.read_csv(filepath_or_buffer = 'PWT91.csv', sep = ',', decimal = '.')

In [ ]:
# El m√©todo head permite observar las primeras 5 filas del dataframe
df.head(500)

**Fuente**: Feenstra, Robert C., Robert Inklaar and Marcel P. Timmer (2015), "The Next Generation of the Penn World Table" American Economic Review, 105(10), 3150-3182, available for download at www.ggdc.net/pwt

Lo que tenemos ahora es una hoja de c√°lculo con filas indexadas y columnas nombradas, llamada `df`. **Importante**: Las columnas son *series de pandas*.

In [ ]:
# Comprobamos las dimensiones del Dataframe (filas, columnas)
df.shape

In [ ]:
print(type(df))

La funci√≥n `pd.read_csv` infiere el tipo de datos por defecto

In [ ]:
# Comprobamos el tipo de las variables en el dataframe
print(df.dtypes)

Podemos cambiar el tipo de las columnas:
- Convertir la columna year para que sea tipo datetime, para una mayor informaci√≥n sobre los tipos de [formatos fecha](https://strftime.org/)
- Convertir la columna pop (poblaci√≥n)

In [ ]:
df['year'] = pd.to_datetime(df['year'], format = '%Y')
df['pop']  = df['pop'].fillna(0).astype(int)
df.dtypes



---


# Manipulaci√≥n de DataFrames con Pandas

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```iloc```
Cuando queremos seleccionar filas y columnas de acuerdo a la posici√≥n del √≠ndice, utilizamos el atributo:<br>
```iloc[indiceInicioFilas:indiceFinFilas-1 , indiceInicioCols:indiceFinCols-1]```

In [ ]:
#Seleccion de las filas por posici√≥n y las tres primeras columnas
df.iloc[2300:2303, :3]

### Selecci√≥n de filas y columnas de un DataFrame utilizando ```loc```
Cuando queremos seleccionar filas y columnas de acuerdo a una mezcla del nombre de los √≠ndices y nombres de las columnas (etiquetas), utilizamos el atributo: ```loc[]```

In [ ]:
df_seleccion = df.loc[:, ['countrycode', 'year', 'pop', 'rgdpo']]
df_seleccion.head()

### Renombrar columnas en un DataFrame

1.   Elemento de la lista
2.   Elemento de la lista

In [ ]:
df_seleccion.rename(columns = {'countrycode': 'codigo_pais', 'pop': 'pob_millones', 'rgdpo': 'pib_real_millones'}, inplace = True)

>**Ejercicio 1:** Utilizando el m√©todo `rename` y la opci√≥n `inplace=False`, cambie el nombre de la columna `codigo_pais` por `codigo_iso` en el dataframe `df_seleccion`. Utilizando el m√©todo `columns` verifique si el cambio de nombre se grab√≥ de forma permanente en `df_seleccion`.

In [ ]:
#Su c√≥digo aqu√≠

### Filtrado del DataFrame

In [ ]:
# Condici√≥n booleana de una Serie de Pandas (indexado condicional)
df_seleccion['year'] > np.array('2016-01-01', dtype=np.datetime64)

In [ ]:
# Filtramos por filas a partir de una condici√≥n en la columna year (fechas mayores a 2015)
df_filtrado = df_seleccion.loc[df_seleccion['year'] > np.array('2015-01-01', dtype=np.datetime64)]
df_filtrado

>**Ejercicio 2:** Generar un nuevo dataframe llamado `df_mayor_pob` realizando un filtrado de las filas del dataframe `df_filtrado`, si la poblaci√≥n es mayor a 200 millones de habitantes.

In [ ]:
df.head()

### Creaci√≥n de nuevas columnas

In [ ]:
df_percapita = df_mayor_pob.copy()
df_percapita.loc[:, 'pib_percapita'] = df_percapita['pib_real_millones'] / df_percapita['pob_millones']
df_percapita

### Ordenamiento en el DataFrame

In [ ]:
df_percapita.sort_values(by='pib_percapita', ascending = False)

### Agregaci√≥n en DataFrames

#### Uso la funci√≥n groupby

Busca agrupar grandes cantidades de datos y aplicar operaciones de c√°lculo en estos grupos

In [ ]:
# Agregamos los datos mediante empleando el promedio
df_agrupado = df_percapita.groupby(by = 'codigo_iso').agg('mean')
df_agrupado

>**Ejercicio 3:** Generar un nuevo dataframe llamado `df_final` realizando un agrupamiento por el `codigo_pais` obteniendo los valores m√°ximos y m√≠nimos `['max', 'min']` del dataframe `df_percapita`

In [ ]:
#Su c√≥digo aqu√≠

## Identificar valores vacios

In [ ]:
import missingno as msno

msno.matrix(df)

# Analitica con Python

## 1. Dataset de Trabajo

**Credit:** conjunto de datos simulados que contiene informaci√≥n sobre diez mil clientes de una entidad financiera

<a href='https://rdrr.io/cran/ISLR/man/Credit.html'>
  Documentaci√≥n de las variables </a>

**Diccionario de datos**
* ID: C√≥digo de identificaci√≥n del cliente
* Income: Ingresos del cliente en $10,000's
* Limit: L√≠mite de cr√©dito
* Rating: Puntaje crediticio
* Cards: N√∫mero de tarjetas de cr√©dito
* Age: Edad en a√±os
* Education: N√∫mero de a√±os de educaci√≥n
* Gender: Masculino (Male) o Femenino (Female)
* Student: Si el cliente es estudiantes (Yes) o no lo es (No)
* Married: Si el cliente est√° casado (Yes) o no est√° (No)
* Ethnicity: Africano (African), Americano (American), Asi√°tico (Asian) y Cauc√°sico (Caucasian)
* Balance: Promedio del saldo de la tarjeta de cr√©dito en d√≥lares

In [ ]:
import sys
import numpy as np
import pandas as pd

# Librer√≠a para medidas de posici√≥n y forma
import scipy
import scipy.stats as stats

# Librer√≠as para visualizaci√≥n
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

## Descargando el dataset
https://raw.githubusercontent.com/mayait/ClaseAnalisisDatos/main/python101/data/Credit.csv

Utiliza wget para descargarlo

## Importar dataset
pd.read_csv() permite importar un archivo de texto a Pandas

In [ ]:
Credit = üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è

In [ ]:
# Dimensiones del dataset
print(Credit.shape)

In [ ]:
Credit.sample(4)

In [ ]:
# Muestra los 20 primeros
Credit.head(5)

In [ ]:
Credit["Income"]

## 2. Medidas de Tendencia Central

Empezaremos visualizando la distribuci√≥n de los ingresos por medio de un histograma.

**Ejercicio:** Identificar las caracter√≠sticas de la distribuci√≥n.

In [ ]:
sns.displot(Credit, x='Income', bins=20, kde=True)
plt.title("Ingresos")
plt.xlabel("D√≥lares")
plt.ylabel("Frecuencia Relativa")
plt.show()

In [ ]:
sns.displot(Credit, x='Income', hue='Student', kde=True) #hue crea un histograma por cada una de las categor√≠as de manufactorer_name
plt.title("Ingresos")
plt.xlabel("D√≥lares")
plt.ylabel("Frecuencia Relativa")
plt.show()

In [ ]:
Credit.groupby('Gender').count()

In [ ]:
# Medidas de tendencia central
media_income    = Credit["Income"].üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è
mediana_income  = üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è
moda_income     = üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è

print('Media: ', media_income, '\nMediana: ', mediana_income, '\nModa: ', moda_income[0])

**¬øCu√°l de las medidas de tendencia central resumen correctamente a los ingresos?**

In [ ]:
sns.histplot(Credit["Income"], bins='fd', kde=True)
plt.title("Ingresos")
plt.xlabel("D√≥lares")
plt.ylabel("Frecuencia Relativa")
plt.axvline(media_income, color='red', label='Promedio')
plt.axvline(mediana_income, color='yellow', label='Mediana')
plt.axvline(moda_income[0], color='green', label='Moda')
plt.legend()
plt.show()

# üå∂ 1
**Ejercicio 1:** Obtener el promedio, mediana y moda de la columna `Limit` del  DataFrame `Credit`


```
Respuesta:
Promedio: 4735.6
Mediana: 4622.5
Moda: 855
```

In [ ]:
# Obtener el promedio, mediana y moda de la columna `Limit` del  DataFrame `Credit`
üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è
üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è
üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è
print('Media: ', üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, '\nMediana: ', üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, '\nModa: ', üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è[0])

## 3. Medidas de Dispersi√≥n

### Rango

In [ ]:
Credit["Income"].min()

In [ ]:
Credit["Income"].max()

In [ ]:
print("El ingreso m√≠nimo es de:", Credit["Income"].min())
print("El ingreso m√°ximo es de:", Credit["Income"].max())
print("El rango es igual a:", Credit["Income"].max() - Credit["Income"].min())

### Varianza y Desviaci√≥n Est√°ndar
* El argumento ```ddof``` hace referencia al denominador: ```N-ddof```
* ```ddof=0``` si trabajamos con la poblaci√≥n
* ```ddof=1``` si trabajamos con la muestra

In [ ]:
print("La varianza en la poblaci√≥n es igual a:", Credit["Income"].var(ddof=0))
print("La desviaci√≥n estandar en la poblaci√≥n es igual a:", Credit["Income"].std(ddof=0))

In [ ]:
print("La varianza en la muestra es igual a:", Credit["Income"].var())
print("La desviaci√≥n estandar en la muestra es igual a:", Credit["Income"].std())

# üå∂ 2

---


**Ejercicio 2:** Obtener el rango, la varianza muestral y la desviaci√≥n est√°ndar muestral de la columna `Balance` del  DataFrame `Credit`


```
Respuesta:
Rango: 1999
Varianza muestral: 211378.22533834586
Desv. est√°ndar muestral: 459.75887738938314
```

In [ ]:
# Obtener el rango, la varianza muestral y la desviaci√≥n est√°ndar muestral de la columna `Balance` del  DataFrame `Credit`

üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è

Jointplot muestra un scatterplot y la distribuci√≥n de los datos.

Documentaci√≥n de jointplot: http://seaborn.pydata.org/generated/seaborn.jointplot.html

In [ ]:
sns.jointplot(data=Credit, x='Income', y='Rating', hue='Ethnicity')

## 4. Medidas de Posici√≥n
El m√©todo ```describe()``` muestra de forma predeterminada los cuartiles sin embargo, podemos requerir otras medidas de posici√≥n de acuerdo a lo que se necesite.

In [ ]:
Credit["Income"].describe()

In [ ]:
# Percentil 90
Credit["Income"].quantile(0.90)

In [ ]:
stats.iqr(Credit["Income"])

In [ ]:
Credit["Income"].quantile(0.75) - Credit["Income"].quantile(0.25)

## BOX-PLOT :

Un diagrama de caja es una forma muy √∫til y estandarizada de mostrar la distribuci√≥n de datos basada en un resumen de cinco n√∫meros (m√≠nimo, primer cuartil, segundo cuartil (mediana), tercer cuartil, m√°ximo).

![image.png]()

Source: biostats.w.uib.no

In [ ]:
sns.boxplot(x=Credit["Income"],color = "pink")
plt.title("Boxplot de los Ingresos")
plt.xlabel("D√≥lares")
plt.show()

In [ ]:
sns.boxplot(x=Credit["Income"], color="pink")
plt.title("Boxplot de los Ingresos")
plt.xlabel("D√≥lares")

#Pongamosle las lineas
plt.axvline(üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, color='green', label='Q1')
plt.axvline(üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, color='blue', label='Q2/Mediana')
plt.axvline(üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, color='red', label='Q3')
plt.legend()
plt.show()

In [ ]:
sns.boxplot(x=Credit["Income"], y=Credit["Gender"])
plt.title("Boxplot de los Ingresos")
plt.xlabel("D√≥lares")
plt.show()

In [ ]:
sns.boxplot(x=Credit["Income"], y=Credit["Ethnicity"])
plt.title("Boxplot de los Ingresos por Etnia")
plt.xlabel("D√≥lares")
plt.show()

### Valores at√≠picos/extremos/outliers
Se definen como observaciones extremas a aquellas que se encuentran fuera del rango $$[Q_1-(1.5 \times IQR) ; Q_3 +(1.5 \times IQR)]$$

In [ ]:
IQR  = stats.iqr(Credit["Income"])
whis = 1.5
cons = IQR * whis

#Cuartiles
Q1   = Credit["Income"].quantile(0.25)
Q3   = Credit["Income"].quantile(0.75)

print("El l√≠mite inferior para valores extremos es:", (Q1-cons))
print("El l√≠mite superior para valores extremos es:", (Q3+cons))

In [ ]:
sns.boxplot(x=Credit["Income"], color="pink", whis=1.5)
plt.title("Boxplot de los Ingresos")
plt.xlabel("D√≥lares")
plt.axvline(Q3+cons, color='blue', label='Lim. Superior')
plt.legend()
plt.show()

In [ ]:
sns.histplot(Credit["Income"], color ="darkblue", kde=True)
plt.title("Ingresos")
plt.xlabel("D√≥lares")
plt.ylabel("Frecuencia Relativa")
plt.axvline(üå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏èüå∂Ô∏è, color='blue', label='Lim. Superior')
plt.legend()
plt.show()

# üå∂ 3
**Ejercicio 3:** Encuentre los quintiles y el rango intercuartil de la columna `Education` del  DataFrame `Credit`


```
Respuesta:
Quintiles:
0.2    11.0
0.4    13.0
0.6    15.0
0.8    16.0
Name: Education, dtype: float64

IQR Educaci√≥n: 5.0
```

In [ ]:
# Matriz de correlaciones
Credit.corr().round(decimals=2)